* text=auto eol=lf

*.blade.php text working-tree-encoding=UTF-8 eol=lf diff=html
*.css text working-tree-encoding=UTF-8 eol=lf diff=css
*.js text working-tree-encoding=UTF-8 eol=lf
*.html text working-tree-encoding=UTF-8 eol=lf diff=html
*.md text working-tree-encoding=UTF-8 eol=lf diff=markdown
*.php text working-tree-encoding=UTF-8 eol=lf diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
